.menu ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0;
  margin: 0;
  overflow: hidden;

  .lien-menu {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    background-color: #007bff; /* Couleur de fond du lien */
    color: white; /* Couleur du texte */
    display: block;

    &:hover {
      background-color: #0056b3; /* Change la couleur de fond lors du survol */
    }
  }
}

h1 {
  font-size: 48px;
  color: white;
  width: 100%;
  text-align: center;
}
